button,
.btn,
input[type="button"],
input[type="submit"] {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: .6em 1.5em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

.icon {
    background-color: transparent;
    padding: 0;
    margin: 0;
}