.overlay {
    position: absolute;
    height: 100vh;
    background-color: transparent;
    backdrop-filter: blur(2px);
    left: 0;
    top: 0;

    .body {
        width: 86%;
        border-radius: 10px;

        @media (min-width: 768px) {
            width: 60%;
        }
    }

    &.userNavContainer {
        backdrop-filter: blur(0);

        .userNav {
            position: absolute;
            right: 20px;
            width: 280px;
            top: 10%;
            color: white;
        }
    }

    &.createFolderContainer {
        .createFolder {}
    }

    &.createFileContainer {
        .createFile {}
    }
}